# Server
PORT=5000
NODE_ENV=development

# Database
DATABASE_URL=

# Security
BCRYPT_SALT_ROUNDS=10
JWT_ACCESS_SECRET=supersecretaccesskey123
EXPIRES_IN=3d
JWT_REFRESH_SECRET=supersecretrefreshkey456
REFRESH_EXPIRES_IN=7d

# Email (Nodemailer)
NODEMAILER_EMAIL=
NODEMAILER_PASSWORD=

# Stripe Payment Gateway
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
ONBOARDING_REFRESH_URL=http://localhost:5000/stripe/refresh
ONBOARDING_RETURN_URL=http://localhost:5000/stripe/return
CHECKOUT_SUCCESS_URL=http://localhost:3000/success
CHECKOUT_CANCEL_URL=http://localhost:3000/cancel

# File Upload
FILE_PATH=uploads/

# Host
HOST=localhost
